body{
    margin:0;
    padding:0;
    background-color: #e8e8e8;
}
header{
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100px;
}
.top-bar{
    text-align: center;
    padding: 1.2rem 0;
    color: white;
    margin-top: 6%;
    display:flex;
    background-color: #312453;
    text-align: center;
    justify-content: space-around;
}
.top-bar-item{
  cursor: pointer;
  text-align: center;
  font-size: 1.125rem;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}
li{
    cursor: pointer;
}
button{
  background-color: transparent;
  border: none;
  width: auto;
  cursor: pointer;
}
li:hover{
    color: rgb(231, 33, 76);
}
.topbar .topbar-text{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.topbar .topbar-menu{
    display: 40%;
}
.head{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 10%;

}
.head .logo{
    width:10%;
}
.head .logo img{
  object-fit: cover;
  margin-top: 10%;
  width: 100%;
  height: 80%;
}
form{
    margin-top: 4%;
    transform: translateY(-50%);
    justify-content: center;
    width: 40%;
}
.head .cart{
    cursor: pointer;
    font-size: 1.375rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.head .cart .info-cart{
    font-size: 1.375rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#amount{
  position: absolute;
  top: 17%;
  right:  29%;
  padding: 0.2rem;
  font-size: 0.775rem;
  background-color: red;
  color: white;
  border-radius: 50%;
}
.form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  .form {
    --timing: 0.3s;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
  }
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  .form:focus-within:before {
    transform: scale(1);
  }
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  .form svg {
    width: 17px;
    margin-top: 3px;
  }
  .user{
    transform: translateY(-8%);
    margin-top: 3%;
    display: flex;
    text-align: center;
    font-size: 1.375rem;
    cursor: pointer;
    width: 20%;
  }
  .content{
    margin: 15% 0%;
    position: relative;
    width: 100%;

  }
  nav{
    position: fixed;
    top: 100px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    z-index: 3;
  }
  .list{
    display: flex;
    flex-direction: row;
    background-color: white;
  }
  .item{
    padding: 1.2rem 1.2rem;
    font-size: 1.2rem;
  }
  .active{
    background-color: #8b8ba7;
    border-radius: 5px;
  }
  .main{
    position: relative;
    width: 80%;
    left: 10%;
  }
  .slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    background-color: white;
    width: 20%;
    border-radius: 5px;
    cursor: pointer;
    margin: 2%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    height: 400px;
  }
  .card:hover{
    box-shadow: 0 1px 6px 1px #bbb;
  }
  .box-card{
    height: 80%;
  }
  .card-img{
    margin: 0 10%;
    width: 80%;
    height: 60%;
  }
  .card-img img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .card-info{
    margin: 0 10%;
    width: 80%;
  }
  .info-name{
    font-size: 1.25rem;
    color: #444;
    margin: 0.375rem 0;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
  .info-price{
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(228, 37, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .text{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    background-color: #bbb;
    border-radius: 4px;
    font-weight: 200;
    font-size: 0.875rem;
    padding: 0.185rem;
    margin: 4% 0;
  }
  .gr-btn{
    cursor: pointer;
    width: 80;
    margin: 4% 10%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(235, 117, 117);
    display: flex;
    justify-content: center;
    padding: 0.375rem;
  }
  .gr-btn button{
    background-color: transparent;
    border: none;
  }
  .open{
    transform: translateY(0);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
  }
  .modal-cart {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 16;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    visibility: hidden;
}

.modal-cart.open {
    visibility: visible;

}

.modal-cart.open .cart-container {
    visibility: visible;
    transform: translateX(0);
}

.cart-container {
    overflow: hidden;
    position: relative;
    background-color: white;
    width:30%;
    height: 70%;
    right: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 66px;
    padding-bottom: 119px;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    background-color:white;
    
}

.cart-header-title {
    font-weight: 600;
}

.cart-header-title i {
    color: var(--red);
    font-size: 20px;
    margin-right: 10px;
}

.cart-close {
    background-color: var(--white);
    border: none;
    outline: none;
    color: var(--black);
    border: 2px solid var(--black);
    padding: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}


.gio-hang-trong {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.gio-hang-trong i {
  font-size: 70px;
}

.gio-hang-trong p {
  font-size: 14px;
  margin-top: 20px;
}

.cart-footer {
  padding: 20px;
  border-top: 1px solid #eee;
  position: absolute;
  bottom: 0;
  width: 90%;
}
.cart-total-price {

  display: flex;
}

.cart-total-price .text-price,
.cart-total-price .text-tt {
  font-weight: 600;
  font-size: 18px;
}

.cart-total-price .text-price {
  color: red;
}

.cart-footer-payment {
  display: flex;
  column-gap: 10px;
  margin-top: 15px;
}

.cart-footer-payment button {
  outline: none;
  border: none;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  cursor: pointer;
}

button.add-product {
  background-color: white;
  border: 2px solid;
}

button.pay {
  background-color: red;
  color: white;
}

button.pay.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.cart-body {
  flex-grow: 1;
  overflow: auto;
  padding: 10px 20px;
}
.cart-list{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.cart-item{
  display: flex;
  padding-left: 10%;
  margin: 0;
  border-bottom: 1px solid #DDDDDD;
  flex-direction: column;
}
.cart-item .item-cart{
  display: flex;
  flex-direction: row;
}
.cart-item .cart-img{
  width: 30%;
}
.cart-item .cart-img img{
  width: 100%;
  object-fit: contain;
}
.cart-item .cart-info{
  margin-left: 10%;
  width: 70%;
}
.cart-item-control {
  display: flex;
  justify-content: space-between;
  margin: 1.1rem 2.5rem ;
  flex-direction: row;
}
.cart-item-delete {
  border: none;
  outline: none;
  background-color: red;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.buttons_added {
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
}
.is-form {
  background-color: #f9f9f9;
  height: 25px;
  width: 25px;
  border: 1px solid #ddd;
  cursor: pointer;
  line-height: 20px;
}
.is-form:focus,.input-text:focus {
  outline: none;
}

.is-form.plus,.is-form.minus {
  border-radius: 50%;
}
.input-qty {
  background-color: #fff;
  height: 25px;
  width: 30px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  margin: 0 5px;
  border: 1px solid #ddd;
  padding: 0;
  border-radius: 5px;
  outline: none;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
  --webkit-appearance: none;
  margin: 0;
}
.slider {
  position: relative;
  margin: auto;
  overflow: hidden;

}

.slides {
  position: relative;
  width: 100%;
  height: 350px;
}

.item-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; 
  transition: opacity 0.5s ease;
}

.item-slide.active {
  opacity: 1;
}

.item-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* form login */
.modal-login{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.form-title{
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 150px;
}
.login-form {
  top: -30%;
  position: relative;
  transform: translateY(50%);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form .form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.login-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.login-form .form-control:focus {
  border-color: #007bff;
  outline: none;
}

.login-form .form-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.login-form .form-submit {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-form .form-submit:hover {
  background-color: #0056b3;
}
.form-close {
  background-color: rgba(0, 0, 0, .3);
  height: 30px;
  width: 30px;
  line-height: 29px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

/* pay */
.modal-pay {
  background-color: #f5f5f5;
  width: 30%;
  position: fixed;
  top: 10%;
  left: -90%;
  z-index: 100;
  transform: translate(-50%,40%);
  transition: all 0.5s ease;
  border: 1px solid rgb(237, 113, 113);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 400px;
  overflow-y: auto;
}
.bill{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  width: 100%;
}
.bill .form-group input{
  font-size: 1.2rem;
  width: 100%;
  outline: none;
  border: none;

}
.pay-content{
  width: 80%;
  margin:0% 10% ;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-between;
}
.bill-info{
  border-bottom:1px solid #DDDDDD ;
  padding: 1.2rem 0;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.1rem;
}
.bill-pay{
  border-bottom: 1px solid red;
  padding: 1.2rem 0;
  font-weight: 600;
  font-size: 1.2rem;
}
.modal-pay button{
  background-color: rgb(215, 116, 116);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1.05rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.4rem;
}
.modal-pay button:hover{
  background-color: rgb(230, 79, 79);
}

/* detail product */
.modal-detail{
  position: fixed;
  z-index: 4;
  top:-90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 5px;
  height: 500px;
  width: 400px;
}

.modal-body{
  height: 200px;
}
.body-control{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5% 10%;
}
.body-des{
  height: 210px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 1.2rem;
  border-bottom: 1px solid #DDDDDD;
}
.body-des span{
  margin: 1.1rem;
}
.modal-footer {
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  text-align: center;
  padding: 4px;
}
.price-total {
  display: flex;
}

.price-total .thanhtien {
  color: #808080;
  font-size: 1.2rem;
}

.price-total .price {
  color: red;
  font-weight: 600;
  font-size: 1.2rem;
}

.modal-footer-control button {
  background-color: red;
  border: none;
  outline: none;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
}
.modal-close{
  position: absolute;
  top: 0%;
  left: 90%;
}
.modal-close{
  background-color: transparent;
  border-radius: 50%;
  border: none;
  background-color: #DDDDDD;
  cursor: pointer;
}
.text-tran{
  position: relative;
  top: -25%;
  font-weight: 500;
  cursor: pointer;
}
.text-tran:hover{
  color: #007bff;
}
.modal-register{
  z-index: -1;
  display: flex;
  opacity: 0;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.modal-sign{
  position: fixed;
  display: flex;
  top: -90%;
  left: 50%;
  width: 30%;
  height: 500px;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
  z-index: 3;
}